# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environments
# ==========================
.venv/
venv/
env/

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Streamlit
# ==========================
.streamlit/secrets.toml

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python Packaging
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Environment Variables
# ==========================
.env